<p class="specialParagraph"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    <span style="color: red">Curabitur volutpat velit vitae lacinia condimentum.</span>
    Duis facilisis lectus metus, sed pretium orci dignissim ut.
    Praesent fermentum finibus magna quis consequat.
</p>