
#content{
    margin: 0 auto;
    width: 400px;
    border: 2px solid red;
    position:relative;
    height: 20px;
    background-color: lightcoral;
}
.spanio{
    background-color: yellow;
    border: 1px solid black;
}
#item-name{
    position:absolute;
    right:0;
}
#item-id{
    position:absolute;
    left:0;
}
#btn-next{
    left: 950px;
    position: absolute;
}
#btn-next:hover{
    color:red;
    cursor: pointer;
    font-weight: bold;
}
#btn-back{
    left: 600px;
    position: absolute;
}
#btn-back:hover{
    color:red;
    cursor: pointer;
    font-weight: bold;
}
#count{
    width: 200px;
    margin: 50px auto;
    font-size: 25px;
    
}