
/*resecik*/
input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:11px;
	font-family:sans-serif;
}
/*end of resecik*/

body {
  padding: 1em;
  background-color: #2B3134;
  color: #999;
  text-align: center;
  font-family: sans-serif;
  width: 70%;
  margin: 0 auto;
}
.loading{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
/*  vertical-align: top;*/
}

svg path,
svg rect{
  fill: #FF6700;
}

table {
    margin: auto;
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
    font-family: sans-serif;
    font-size: 14px;
    
}

#header {
    background-color: rgba(255, 103, 0, 0.5);
    
}

td {
    padding: 10px 2px;
}

.buttons {
    margin: 50px auto;
}

button {
    color: rgba(255, 103, 0, 0.7);
    width 30%;
    height: auto;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    border: solid 1px #666;
}

button:hover {
    background-color: rgba(255, 103, 0, 0.5);
    color: #777;
}
