@charset "UTF-8";

body {
    font: 14px/18px normal sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    padding: 20px;
    background-color: #dfdfdf;
}

.tabs {
    list-style: none;
    overflow: hidden;
    margin-bottom: -1px;
    }
    .tabs li {
        float: left;
        background-color: #cfcfcf;
        border: 1px solid #acacac;
        box-shadow: inset 1px 0px 2px 0px rgba(255,255,255,1);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-right: 3px;
    }
    .tabs li a {
        text-decoration: none;
        color: #060507;
        display: block;
        padding: 7px 20px;
    }
    .tabs li.active {
        border-bottom: 1px solid #f2f2f2;
        background-color: #f2f2f2;
    }
    .tabs li.active a{
        cursor: default;
    }

#loader {
    float: right;
}

.tabContainer {
    border: 1px solid #acacac;
    border-radius: 5px;
    border-top-left-radius: 0;
    background-color: #f2f2f2;
    }
    .tabContent{
        display: none;
        padding: 15px;
        color: #060507;
        text-align: justify;
        }
        .tabContent.activeContent{
            display: block;
        }
        .tabContent h2{
            font-weight: 600;
            font-size: 1.4em;
            margin-bottom: 10px;
        }